.Background{
  width: 100%;
  height: 100%;
}
body{
  margin:0;
  text-align: center;
  background-color: #74482d;
}
h1
{

  font-family: 'sacramento', cursive;
  color: #785786;
  font-size: 50px;
  position: absolute;
  left: 50px;
  top: 50px;
}
.p{
  font-family: 'sacramento', cursive;
  color: #785786;
  position: absolute;
  top: 150px;
  left: 50px;
}

.top{
  margin-bottom: 0;
  position: relative;
}
.skill
{
  width: 200px;
}
.first
{
  width: 500px;
  font-family:'sacramento', cursive;
  color: #fadfb4;
  position: absolute;
  right: 0;
}

.second
{
  width: 600px;
  font-family:'sacramento', cursive;
  color: #fadfb4;
  position: absolute;
  right: 0;
  top: 240px;
}
.third{
  width: 600px;
  font-family:'sacramento', cursive;
  color: #fadfb4;
  position: absolute;
  right: 0;
  top:480px;

}
.fourth{
  width: 300px;
  font-family:'sacramento', cursive;
  color: #5c3224;
  position: absolute;
  right: 10px;
  top:680px;

}
.Contact{
  width:200px;
}

.suggestion{
  width: 200px;
}
.Journey{
  width: 200px;
}
a{
  font-family:'sacramento', cursive;
  color: white;
}
.special
{
  font-family:'sacramento', cursive;
  width: 400px;
}
.bottom
{
  position: relative;
  bottom: 5px;
}
